@font-face {
    font-family: demonSlayer;
    src: url(./fonts/bloodcrowc.ttf);
}
@font-face {
    font-family: heroacedimia;
    src: url(./fonts/Futura\ Display\ BQ\ Regular.otf);
}

@font-face {
    font-family: onepiece;
    src: url(./fonts/one\ piece\ font.ttf);
}

@font-face {
    font-family: naruto;
    src: url(./fonts/njnaruto.ttf);
}

@font-face {
    font-family: blackclover;
    src: url(./fonts/BlackCloverFont.otf);
}